.h-scroll
	.h-scroll__container
		table.table
			thead
				tr
					th Услуги
					td Объем работ
					td Сроки
			tbody
				tr
					th
						a(href="#") Составление эффективного семантического ядра
					td от 300 запросов
					td от 4 раб. дней
				tr
					th
						a(href="#") Формирование оптимизированной структуры сайта
					td от 300 запросов
					td от 5 раб. дней
				tr
					th
						a(href="#") Технический аудит сайта
					td от 5 страниц
					td от 5 раб. дней

.h-scroll
	.h-scroll__container
		table.table
			thead
				tr
					th В тариф включено
					td.-ta-c Старт
					td.-ta-c.table__favorite Трафик
					td.-ta-c SEO 3.0
			tbody
				tr
					td Первичное изучение ниши, конкурентов и проекта
					td.-ta-c Нет
					td.-ta-c.table__favorite Да
					td.-ta-c Да
				tr
					td Мониторинг видимости конкурентов
					td.-ta-c Да
					td.-ta-c.table__favorite Да
					td.-ta-c Да
				tr
					td Мониторинг видимости и занимаемых позиций
					td.-ta-c Нет
					td.-ta-c.table__favorite Нет
					td.-ta-c Да