.h-scroll
	.h-scroll__container
		table.table.table--bg-lines
			thead
				tr
					td Услуги
					td Объём работ
					td Сроки
			tbody
				tr
					td
						a(href="#") Составление эффективного семантического ядра
					td от 300 запросов
					td от 4 раб. дней
				tr
					td
						a(href="#") Формирование оптимизированной структуры сайта
					td от 300 запросов
					td от 5 раб. дней
				tr
					td
						a(href="#") Технический аудит сайта
					td от 5 страниц
					td от 5 раб. дней
				tr
					td
						a(href="#") Составление эффективного семантического ядра
					td от 300 запросов
					td от 4 раб. дней
				tr
					td
						a(href="#") Формирование оптимизированной структуры сайта
					td от 300 запросов
					td от 5 раб. дней
				tr
					td
						a(href="#") Технический аудит сайта
					td от 5 страниц
					td от 5 раб. дней