-
	let data = {
		"level": "1",
		"items": [
			{
				"title": "SEO",
				"iconID": "icon-bar-chart",
				"dropdownBtn": true,
				"submenu": {
					"level": "2",
					"submenuWrap": true,
					"cssMod": "full-width",
					"items": [
						{
							"title": "Аудиты от экспертов",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "SEO - аудит" },
									{ "title": "Коммерческий аудит" },
									{ "title": "Вывод из - под санкций" },
									{ "title": "Консультации" },
									{ "title": "Технический аудит" },
									{ "title": "Аудит E - A - T и YMYL" }
								]
							}
						},
						{
							"title": "О нас",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Преимущества" },
									{ "title": "Стоит ли использовать SEO ?" },
									{ "title": "Кейсы" },
									{ "title": "Гарантии" },
									{ "title": "Уникальное качество" },
									{ "title": "Программа лояльности" },
									{ "title": "Заказать услуги" }
								]
							}
						},
						{
							"title": "По типу проектов",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "На 1С - Битрикс" },
									{ "title": "Лендинг" },
									{ "title": "С акцентом на Яндекс" },
									{ "title": "С акцентом на Google" },
									{ "title": "Корпоративный сайт" },
									{ "title": "Оплата за объём работ" },
									{ "title": "Под голосовой поиск" },
									{ "title": "Доплата за ТОП" },
									{ "title": "SEO + Контекст" },
									{ "title": "Оптимизация при создании" },
									{ "title": "Сайт с товарами" }
								]
							}
						},
						{	"title": "SEO с учётом тематики" },
						{ "title": "Региональное продвижение" },
						{
							"title": "Популярные тарифы",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Продвижение по трафику" },
									{ "title": "Продвижение по лидам" },
									{ "title": "Абонентский платёж" },
									{ "title": "Базовая оптимизация" },
									{ "title": "SEO 3.0" },
									{ "title": "В мобильной выдаче" },
									{ "title": "Для интернет - магазинов" },
									{ "title": "Разовые работы" }
								]
							}
						},
					]
				},
				"banner": "blocks/main-menu/images/banner-seo.webp"
			},
			{
				"title": "Поддержка",
				"iconID": "icon-settings",
				"dropdownBtn": true,
				"submenu": {
					"level": "2",
					"submenuWrap": true,
					"cssMod": "full-width",
					"items": [
						{
							"title": "Поддержка сайтов",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Тарифы" },
									{ "title": "Портфолио" },
									{ "title": "Кейсы" },
									{ "title": "Отзывы" },
									{ "title": "Вопросы и ответы" },
									{ "title": "Онлайн - заказ" }
								]
							}
						},
						{
							"title": "Аудиты",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Комплексный аудит" },
									{ "title": "Маркетинговый аудит" },
									{ "title": "Юзабилити аудит" },
									{ "title": "Технический аудит" }
								]
							}
						},
						{
							"title": "Популярные услуги",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Антивирус" },
									{ "title": "Мониторинг 24 / 7" },
									{ "title": "Резервное копирование" },
									{ "title": "Переход на HTTPS" },
									{ "title": "Смена хостинга" },
									{ "title": "Внедрение GIT" }
								]
							}
						},
						{
							"title": "По типу проектов",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "На 1С - Битрикс" },
									{ "title": "Интернет - магазина" },
									{ "title": "Модернизация" },
									{ "title": "Поддержка + SEO" },
									{ "title": "Виды поддержки" }
								]
							}
						},
						{
							"title": "Тестирование",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Функциональное" },
									{ "title": "Интернет - магазина" },
									{ "title": "Пользовательское" },
									{ "title": "Кроссбраузерность" },
									{ "title": "Скорость загрузки" },
									{ "title": "Стресс - тест" }
								]
							}
						},
					]
				},
				"banner": "blocks/main-menu/images/banner-sup.webp"
			},
			{
				"title": "Контекст",
				"iconID": "icon-rocket",
				"dropdownBtn": true,
				"submenu": {
					"level": "2",
					"submenuWrap": true,
					"cssMod": "full-width",
					"items": [
						{
							"title": "Популярные услуги",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
										{"title": "Яндекс.Директ"},
										{"title": "Google Ads"},
										{"title": "Маркетплейсы"},
										{"title": "Коллтрекинг"},
										{"title": "Веб-аналитика"},
										{"title": "Аудит кампании в Директе"}
									]
							}
						},
						{
							"title": "Маркетплейсы",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Яндекс.Маркет" },
									{ "title": "Wildberries" },
									{ "title": "TIU" }
								]
							}
						},
						{
							"title": "Аудиты",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Аудит кампании в Директе" },
									{ "title": "Бесплатный мини - аудит" },
									{ "title": "Консультации" }
								]
							}
						},
						{
							"title": "Контекстная реклама",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{"title": "Яндекс.Директ"},
									{"title": "Google Ads"},
									{"title": "Кейсы"},
									{"title": "Отзывы"},
									{"title": "Преимущества"},
									{"title": "Заказать услуги"}
								]
							}
						},
						{
							"title": "Форматы размещения",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{"title": "Динамический ремаркетинг"},
									{"title": "Медийная реклама"},
									{"title": "Ретаргетинг / ремаркетинг"},
									{"title": "Смарт-баннер в Директе"},
									{"title": "Баннер на поиске Яндекса"},
									{"title": "Для мобильной аудитории"},
									{"title": "Performance-маркетинг"},
									{"title": "Видеореклама"}
								]
							}
						}
					]
				}
			},
			{
				"title": "SMM",
				"iconID": "icon-megaphone",
				"dropdownBtn": true,
				"submenu": {
					"level": "2",
					"submenuWrap": true,
					"cssMod": "full-width",
					"items": [
						{
							"title": "Популярные услуги",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Создание и ведение групп" },
									{ "title": "Таргетированная реклама" },
									{ "title": "Аудит ведения" },
									{ "title": "Яндекс.Дзен" },
									{ "title": "Цены" }
								]
							}
						},
						{
							"title": "Instagram",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Создание и ведение" },
									{ "title": "Размещение постов" },
									{ "title": "Увеличение подписчиков" },
									{ "title": "Таргет во ВКонтакте" },
									{ "title": "Интернет - магазин" }
								]
							}
						},
						{
							"title": "ВКонтакте",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Создание группы" },
									{ "title": "Ведение группы" },
									{ "title": "Раскрутка группы" },
									{ "title": "Таргет во ВКонтакте" },
									{ "title": "Реклама в группах" },
									{ "title": "Размещение постов" },
									{ "title": "Рекламный баннер" },
									{ "title": "Интернет - магазин" }
								]
							}
						},
						{
							"title": "Facebook",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Создание группы" },
									{ "title": "Раскрутка группы" },
									{ "title": "Таргет в FaceBook" },
									{ "title": "Реклама в группах" }
								]
							}
						},
						{
							"title": "YouTube",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Продвижение канала" },
									{ "title": "Вывод в тренды" },
									{ "title": "Раскрутка видео" }
								]
							}
						},
						{
							"title": "Одноклассники",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Создание группы" },
									{ "title": "Ведение группы" },
									{ "title": "Таргет в Одноклассниках" }
								]
							}
						},
						{
							"title": "Яндекс.Дзен",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Реклама в Яндекс.Дзен" },
									{ "title": "Продвижение" },
									{ "title": "Ведение канала" }
								]
							}
						}
					]
				}
			},
			{
				"title": "Разработка",
				"iconID": "icon-pencil",
				"dropdownBtn": true,
				"submenu": {
					"level": "2",
					"submenuWrap": true,
					"cssMod": "full-width",
					"items": [
						{
							"title": "Создание сайтов",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Готовые решения" },
									{ "title": "Кейсы" },
									{ "title": "Отзывы" },
									{ "title": "Гарантии на сайт" },
									{ "title": "Как мы работаем?" },
									{ "title": "Заказать услуги" }
								]
							}
						},
						{
							"title": "Системы управления",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "1С - Битрикс" },
									{ "title": "WordPress" },
									{ "title": "Tilda" },
									{ "title": "Lavarel" },
									{ "title": "Joomla" }
								]
							}
						},
						{
							"title": "Типы проектов",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Интернет - магазины" },
									{ "title": "Корпоративные сайты" },
									{ "title": "Корпоративные с каталогом" },
									{ "title": "Сайты - визитки" },
									{ "title": "Landing page" },
									{ "title": "Личные кабинеты" }
								]
							}
						},
						{
							"title": "Доп. услуги",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Интеграция сайтов с 1С" },
									{ "title": "Дизайн сайтов" },
									{ "title": "Проектирование сайтов" },
									{ "title": "UX / UI - дизайн" },
									{ "title": "Композитные сайты" },
									{ "title": "Купить лицензию 1С - Битрикс" }
								]
							}
						}
					]
				},
				"banner": "blocks/main-menu/images/banner-dev.webp"
			},
			{
				"title": "Ещё услуги",
				"iconID": "icon-notepad",
				"dropdownBtn": true,
				"submenu": {
					"level": "2",
					"submenuWrap": true,
					"cssMod": "full-width",
					"items": [
						{
							"title": "Корпоративный брендинг",
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Создание логотипов" },
									{ "title": "Фирменный стиль" },
									{ "title": "Нейминг" },
									{ "title": "Брендбук" },
									{ "title": "Макеты для полиграфии" },
									{ "title": "Гайдлайн" },
									{ "title": "Маркетинг-кит" }
								]
							}
						},
						{ "title": "Внедрение Битрикс24" },
						{
							"title": "Видеопродакшн",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Корпоративное видео" },
									{ "title": "Создание видеороликов" },
									{ "title": "Видео для бизнеса" }
								]
							}
						},
						{
							"title": "Дополнительные услуги",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "SERM" },
									{ "title": "Регистрация доменов" },
									{ "title": "Онлайн - консультант" },
									{ "title": "Услуги хостинга" },
									{ "title": "Реклама в метро" },
									{ "title": "Комплексный интернет - маркетинг" }
								]
							}
						},
						{
							"title": "Мобильные приложения",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Разработка для Android" },
									{ "title": "Разработка для iOS" },
									{ "title": "Разработка 1С - Битрикс" },
									{ "title": "Кейсы" }
								]
							}
						},
						{
							"title": "Внедрение и сопровождение 1С",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Сопровождение 1С" },
									{ "title": "Обслуживание 1С" },
									{ "title": "Обновление" },
									{ "title": "1С облако" }
								]
							}
						},
						{
							"title": "Внедрение CRM-систем",
							"dropdownBtn": true,
							"submenu": {
								"level": "3",
								"submenuWrap": true,
								"items": [
									{ "title": "Внедрение CRM" },
									{ "title": "Автоматизация бизнеса" },
									{ "title": "CRM + Телефония" },
									{ "title": "Настройка CRM" },
									{ "title": "CRM по тематикам" },
									{ "title": "Обучение работе с CRM" }
								]
							}
						}
					]
				}
			},
			{
				"title": "О компании",
				"iconID": "icon-notebook",
				"dropdownBtn": true,
				"submenu": {
					"level": "2",
					"submenuWrap": true,
					"items": [
						{ "title": "О «Пиксель Плюс»" },
						{ "title": "Корпоративные ценности" },
						{ "title": "Отзывы клиентов" },
						{ "title": "Достижения" },
						{ "title": "Миссия" },
						{ "title": "Наша команда" },
						{ "title": "Наши клиенты" },
						{ "title": "Новости" },
						{ "title": "Ответы на вопросы" },
						{ "title": "Вакансии" },
						{ "title": "Партнерская программа" },
						{ "title": "Онлайн-заявка" },
						{ "title": "Контакты" }
					]
				}
			}
		]
	};

+menu(data, 'main-menu')