.socials {

	$block-name: &; // #{$block-name}__element

	@include list-reset;
	align-items: center;
	display: flex;
	margin: 0 -.5em;

	& li {
		padding: 0 .5em;

		& a {
			color: var(--color-white);
			display: block;
			transition: var(--transition-time);

			&:hover {
				color: var(--color-primary);
				transform: scale(1.2);
			}

			& svg {
				display: block;
			}

			.page-nav & {
				color: var(--color-gray--dark);

				&:hover {
					color: var(--color-primary);
					transform: scale(1.2);
				}
			}
		}
	}
}