extends ../layout.pug

block meta
	title Главная
	meta(name='description', content='')

block breadcrumb
block content
	include ../../blocks/main-slider/index

	.wide-block.wide-block--meeting.wide-block--footer
		.page-container