.main-slider {

	$block-name: &; // #{$block-name}__element

	&:not(.flickity-enabled) {
		display: flex;
		overflow: hidden;
	}

	&--negative-margin {
		margin-bottom: calc((3.75em + 3.25em) * -1);
	}

	&__item {
		background-image: radial-gradient(50% 50% at 50% 50%, #193F71 0%, #0A172A 100%);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		color: var(--color-white);
		display: flex;
		flex-shrink: 0;
		min-height: 500px;
		padding: 3.75em 0;
		width: 100%;
	}

	&__item-inner {
		align-items: center;
		align-self: stretch;
		display: flex;
		width: 100%;

		@at-root #{$block-name}--negative-margin #{$block-name}__item-inner {
			margin-bottom: 3.75em;
		}
	}

	&__info {
		flex-grow: 1;
	}

	&__more,
	&__form {
		display: none;
		order: 1;
	}

	&__form-inner {
		border: 1px solid var(--color-gray--light);
		border-radius: .625em;
		padding: 2em 1.75em 2.5em 1.75em;
	}

	&__title {
		font-size: 34px;
		font-size: calc(24px + 24 * (100vw / 767));
		font-weight: 700;
		line-height: 1.1;
		margin: 0 0 .25em 0;
		text-transform: none;

		&--medium {
			font-size: 24px;
			font-size: calc(14px + 24 * (100vw / 767));
		}

		& a {
			color: inherit;
			text-decoration: none;
		}
	}

	&__description {
		font-size: var(--font-size--large);
	}

	& .flickity-viewport {
		transition: var(--transition-time);
	}

	& .flickity-page-dots {
		bottom: 0;
		display: flex;
		justify-content: center;
		justify-items: center;
		padding: 2em 0;
		position: absolute;

		@at-root #{$block-name}--negative-margin .flickity-page-dots {
			bottom: 3.75em;
		}

		& .dot {
			background-color: var(--color-white);
			border-radius: 2px;
			height: 3px;
			opacity: .35;
			width: 2.625em;

			&.is-selected {
				opacity: .75;
			}
		}
	}

	@media (min-width: $screen-md) {

		&--negative-margin {
			margin-bottom: calc((3.75em + 6.5em) * -1);
		}

		&__title {
			font-size: 48px;
			font-size: calc(30px + 24 * (100vw / 991));

			&--medium {
				font-size: 38px;
				font-size: calc(20px + 24 * (100vw / 991));
			}
		}

		&__description {
			font-size: var(--font-size--huge);
		}
	}

	@media (min-width: $screen-lg) {

		&__item {
			min-height: 750px;
		}

		&__more,
		&__form {
			display: block;
			flex: 0 0 35%;
			max-width: 35%;
			padding-left: var(--grid-gutter-x);
		}

		&__form {
			padding-left: calc(2 * var(--grid-gutter-x));
		}

		&__more + &__info {
			flex: 0 0 65%;
			max-width: 65%;
			padding-right: var(--grid-gutter-x);
		}

		&__title {
			font-size: 64px;
			font-size: calc(44px + 24 * (100vw / 1199));

			&--medium {
				font-size: 54px;
				font-size: calc(34px + 24 * (100vw / 1199));
			}
		}
	}

	@media (min-width: $screen-xl) {
		&__title {
			font-size: 90px;

			&--medium {
				font-size: 74px;
			}
		}
	}
}