.-fs-i,
.-em { font-style: italic; }

.-fw-b,
.-strong { font-weight: bold; }
.-fw-sb { font-weight: 500; }
.-fw-n { font-weight: normal; }

.-ta-l { text-align: left; }
.-ta-c { text-align: center !important; }
.-ta-r { text-align: right; }

.-fs-tiny { font-size: var(--font-size--tiny) }
.-fs-small { font-size: var(--font-size--small) }
.-fs-medium { font-size: var(--font-size--medium) }
.-fs-normal { font-size: var(--font-size) }
.-fs-large { font-size: var(--font-size--large) }
.-fs-huge { font-size: var(--font-size--huge) }
.-fs-xxx-huge { font-size: var(--font-size--xxx-huge) }



.-justify-center { justify-content: center }

.-no-margin { margin: 0; }
.-no-padding { padding: 0; }

.-c-primary { color: var(--color-primary); }

.-is-hidden,
[hidden] {
	display: none;
}