.two-column
	.two-column__column
		h1 Заголовок H1
		h2 Заголовок H2
		h3 Заголовок H3
		h4 Заголовок H4
		h5 Заголовок H5
		h6 Заголовок H6
	.two-column__column
		.h1 Заголовок H1
		.h2 Заголовок H2
		.h3 Заголовок H3
		.h4 Заголовок H4
		.h5 Заголовок H5
		.h6 Заголовок H6

.two-column
	.two-column__column
		.colors-list
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-primary)")
				.colors-list__text
					p CSS-variable: var(--color-primary)
					p RGB: rgb(204, 0, 0)
					p Hex: #cc0000
					p Class: color-primary
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-primary--light)")
				.colors-list__text
					p CSS-variable: var(--color-primary--light)
					p RGB: rgb(224, 0, 0)
					p Hex: #e00000
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-primary--dark)")
				.colors-list__text
					p CSS-variable: var(--color-primary--dark)
					p RGB: rgb(128, 0, 0)
					p Hex: #800000
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-white)")
				.colors-list__text
					p CSS-variable: var(--color-white)
					p RGB: rgb(255, 255, 255)
					p Hex: #ffffff
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--lighter)")
				.colors-list__text
					p CSS-variable: var(--color-gray--lighter)
					p RGB: rgb(247, 247, 248)
					p Hex: #f7f7f8
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--lighten)")
				.colors-list__text
					p CSS-variable: var(--color-gray--lighten)
					p RGB: rgb(238, 238, 239)
					p Hex: #eeeeef
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--light)")
				.colors-list__text
					p CSS-variable: var(--color-gray--light)
					p RGB: rgb(196, 196, 196)
					p Hex: #c4c4c4
	.two-column__column
		.colors-list
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray)")
				.colors-list__text
					p CSS-variable: var(--color-gray--light)
					p RGB: rgb(166, 166, 166)
					p Hex: #a6a6a6
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--dark)")
				.colors-list__text
					p CSS-variable: var(--color-gray--dark)
					p RGB: rgb(117, 117, 117)
					p Hex: #757575
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--darken)")
				.colors-list__text
					p CSS-variable: var(--color-gray--darken)
					p RGB: rgb(43, 43, 43)
					p Hex: #2b2b2b
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--darker)")
				.colors-list__text
					p CSS-variable: var(--color-gray--darker)
					p RGB: rgb(32, 32, 32)
					p Hex: #202020
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-black)")
				.colors-list__text
					p CSS-variable: var(--color-black)
					p RGB: rgb(32, 32, 32)
					p Hex: #000000

.two-column
	.two-column__column
		h3 Нумерованный список:
		ol.list
			li Регистрация и общие настройки портала
			li Добавление сотрудников в Битрикс24
			li Настройка стадий лидов и сделок
			li Добавление пользовательских полей
			li Позвоните менеджеру или закажите обратный звонок. Обсудите какое изделие хотите заказать.
			li После того, как заказ будет полностью оговорен, вам на электронную почту придет коммерческое предложение с подробным описанием изделия и реквизиты на предоплату.
			li После поступления денег на наш расчетный счет, изделие передается на производство. Сроки изготовления — около 3 рабочих дней.
			li В день доставки мы делаем предварительный звонок для согласования времени. Доставка по России осуществляется компанией «Деловые линии» (согласно тарифам ТК). Стоимость доставки по Москве — 1000 руб., по области — плюс 30 руб. за каждый километр от МКАД.
	.two-column__column
		h3 Маркерованный список:
		ul.list
			li Регистрация и общие настройки портала
			li Добавление сотрудников в Битрикс24
			li Настройка стадий лидов и сделок
			li Добавление пользовательских полей
			li Позвоните менеджеру или закажите обратный звонок. Обсудите какое изделие хотите заказать.
			li После того, как заказ будет полностью оговорен, вам на электронную почту придет коммерческое предложение с подробным описанием изделия и реквизиты на предоплату.
			li После поступления денег на наш расчетный счет, изделие передается на производство. Сроки изготовления — около 3 рабочих дней.
			li В день доставки мы делаем предварительный звонок для согласования времени. Доставка по России осуществляется компанией «Деловые линии» (согласно тарифам ТК). Стоимость доставки по Москве — 1000 руб., по области — плюс 30 руб. за каждый километр от МКАД.
	.two-column__column
		h3 Маркерованный список:
		ul.list-checked.list-checked--figure
			li Регистрация и общие настройки портала
			li Добавление сотрудников в Битрикс24
			li Настройка стадий лидов и сделок
			li Добавление пользовательских полей
			li Позвоните менеджеру или закажите обратный звонок. Обсудите какое изделие хотите заказать.
			li После того, как заказ будет полностью оговорен, вам на электронную почту придет коммерческое предложение с подробным описанием изделия и реквизиты на предоплату.
			li После поступления денег на наш расчетный счет, изделие передается на производство. Сроки изготовления — около 3 рабочих дней.
			li В день доставки мы делаем предварительный звонок для согласования времени. Доставка по России осуществляется компанией «Деловые линии» (согласно тарифам ТК). Стоимость доставки по Москве — 1000 руб., по области — плюс 30 руб. за каждый километр от МКАД.
	.two-column__column
		h3 Маркерованный список:
		ul.list-checked
			li Регистрация и общие настройки портала
			li Добавление сотрудников в Битрикс24
			li Настройка стадий лидов и сделок
			li Добавление пользовательских полей
			li Позвоните менеджеру или закажите обратный звонок. Обсудите какое изделие хотите заказать.
			li После того, как заказ будет полностью оговорен, вам на электронную почту придет коммерческое предложение с подробным описанием изделия и реквизиты на предоплату.
			li После поступления денег на наш расчетный счет, изделие передается на производство. Сроки изготовления — около 3 рабочих дней.
			li В день доставки мы делаем предварительный звонок для согласования времени. Доставка по России осуществляется компанией «Деловые линии» (согласно тарифам ТК). Стоимость доставки по Москве — 1000 руб., по области — плюс 30 руб. за каждый километр от МКАД.

h3 Алерты
.alert.alert--success.alert--flex
	svg(xmlns="http://www.w3.org/2000/svg" width="351.46673" height="351.51795" viewBox="0 0 351.46673 351.51795")
		path(d="M176.10546.00012C272.52957.1092,351.74467,79.53333,351.466,175.82332c-.28333,97.90808-79.27,176.0261-177.64709,175.69357C78.65377,351.19521-.14445,271.68094.0002,176.11867.14784,78.57942,78.83126-.10994,176.10546.00012ZM31.98918,175.61227c.0187,79.32936,64.25023,143.84811,143.28663,143.92735A143.994,143.994,0,0,0,319.47117,175.71311C319.6068,96.6914,255.02793,32.02235,175.96635,32.00782,96.48165,31.99321,31.97051,96.33734,31.98918,175.61227Zm159.62-31.71684c0-21.454.09011-42.90857-.0464-64.36169a15.4462,15.4462,0,0,0-13.61981-15.37c-8.20306-.92115-15.39385,3.642-17.48264,11.37829a27.40333,27.40333,0,0,0-.61332,7.03723q-.05518,48.27173-.02388,96.54355c.00077,9.60439-.0813,19.21007.0517,28.81273A15.62746,15.62746,0,0,0,170.792,222.89567c10.56767,3.40919,20.75122-4.18212,20.81155-15.76062.10988-21.07936.03121-42.15969.03121-63.23962ZM175.63182,239.6388a15.98482,15.98482,0,1,0,15.981,15.90132A15.91468,15.91468,0,0,0,175.63182,239.6388Z")
	| Преимущества создания и продвижения сайтов в «Пиксель Плюс»
.alert.alert--info.alert--flex
	svg(xmlns="http://www.w3.org/2000/svg" width="351.46673" height="351.51795" viewBox="0 0 351.46673 351.51795")
		path(d="M176.10546.00012C272.52957.1092,351.74467,79.53333,351.466,175.82332c-.28333,97.90808-79.27,176.0261-177.64709,175.69357C78.65377,351.19521-.14445,271.68094.0002,176.11867.14784,78.57942,78.83126-.10994,176.10546.00012ZM31.98918,175.61227c.0187,79.32936,64.25023,143.84811,143.28663,143.92735A143.994,143.994,0,0,0,319.47117,175.71311C319.6068,96.6914,255.02793,32.02235,175.96635,32.00782,96.48165,31.99321,31.97051,96.33734,31.98918,175.61227Zm159.62-31.71684c0-21.454.09011-42.90857-.0464-64.36169a15.4462,15.4462,0,0,0-13.61981-15.37c-8.20306-.92115-15.39385,3.642-17.48264,11.37829a27.40333,27.40333,0,0,0-.61332,7.03723q-.05518,48.27173-.02388,96.54355c.00077,9.60439-.0813,19.21007.0517,28.81273A15.62746,15.62746,0,0,0,170.792,222.89567c10.56767,3.40919,20.75122-4.18212,20.81155-15.76062.10988-21.07936.03121-42.15969.03121-63.23962ZM175.63182,239.6388a15.98482,15.98482,0,1,0,15.981,15.90132A15.91468,15.91468,0,0,0,175.63182,239.6388Z")
	| Преимущества создания и продвижения сайтов в «Пиксель Плюс»
.alert.alert--error Преимущества создания и продвижения сайтов в «Пиксель Плюс»
.alert.alert--warning Преимущества создания и продвижения сайтов в «Пиксель Плюс»