.header-search
	button.header-search__button(data-toggle="header-search").
		<svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-magnifier"></use></svg>
	form.header-search__inner(data-toggle-target="header-search", action="/search/")
		input.header-search__input(type="text", placeholder="Введите запрос")
		button.button.button--primary.header-search__button-go(type="submit")
			<svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-magnifier"></use></svg>
